<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑帖子</title>
    <link href="/res/layui/css/layui.css" rel="stylesheet">
</head>
<body>

<form action="" class="layui-form" lay-filter="example">
    <div style="padding-left: 45px">
        <img th:src="${post.img}"/>
    </div>
    <div style="padding-top: 10px">
        <div class="layui-form-item">
            <label class="layui-form-label">帖子ID</label>
            <div class="layui-input-inline">
                <input class="layui-input" lay-verify="title" name="pid" readonly
                       th:value="${post.pid}" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">帖子标题</label>
            <div class="layui-input-inline">
                <input class="layui-input" lay-verify="title" name="pid" readonly
                       th:value="${post.title}" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">帖子作者</label>
            <div class="layui-input-inline">
                <input class="layui-input" lay-verify="title" name="pid" readonly
                       th:value="${post.nickname}" type="text">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择框</label>
        <div class="layui-input-inline">
            <select lay-filter="aihao" name="interest">
                <option value=""></option>
                <option selected value="0">写作</option>
                <option value="1">阅读</option>
                <option value="2">游戏</option>
                <option value="3">音乐</option>
                <option value="4">旅行</option>
            </select>
        </div>
        <label class="layui-form-label">开关</label>
        <div class="layui-input-inline">
            <input lay-skin="switch" lay-text="ON|OFF" name="close" type="checkbox">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">单选框</label>
        <div class="layui-input-block">
            <input checked="" name="sex" title="男" type="radio" value="男">
            <input name="sex" title="女" type="radio" value="女">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文本域</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" name="desc" placeholder="请输入内容"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-filter="demo1" lay-submit="">立即提交</button>
        </div>
    </div>
</form>

<script charset="utf-8" src="/res/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });
    });
</script>
</body>
</html>