<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>论坛后台管理</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/res/layui/css/layui.css" media="all" rel="stylesheet">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a class="fly-logo" href="/">
            <img alt="layui" src="/res/images/logo.png" style="padding-top: 10px;padding-left: 5px">
        </a>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">帖子管理</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a href="javascript:jumpToPost()">基础管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:jumpToUser()">基础管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:jumpToMessage()">系统消息</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="overflow: hidden">
        <!-- 内容主体区域 -->
        <iframe frameborder="0" id="detail" src="/admin/post"
                style="width: 100%;height: 100%;"
        ></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © thorn
    </div>
</div>

<script src="/res/layui/layui.js"></script>
<script>
    layui.config({
        version: "3.0.0"
        , base: '/res/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');

    function jumpToUser() {
        document.getElementById('detail').src = '/admin/user'
    }

    function jumpToPost() {
        document.getElementById('detail').src = '/admin/post'
    }

    function jumpToMessage() {
        document.getElementById('detail').src = '/admin/message'
    }
</script>
</body>
</html>