<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>后台</title>
    <link href="/res/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<form action="" class="layui-form layui-form-pane">
    <div class="layui-inline">
        <div class="layui-inline">
            <label class="layui-form-label">搜索选择框</label>
            <div class="layui-input-inline">
                <select id="type" lay-search="" lay-verify="required" name="modules">
                    <option value="">直接选择或搜索选择</option>
                    <option selected value="1">标题</option>
                    <option value="2">用户名</option>
                </select>
            </div>
        </div>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" id="search"
                   placeholder="搜索条件" type="text" value="">
        </div>
        <div class="layui-input-inline">
            <button class="layui-btn" lay-filter="demo1" lay-submit="" onclick="reload()"
                    type="button">搜索
            </button>
        </div>
    </div>
</form>
<table class="layui-table"
       lay-data="{url:'/admin/postTable', page:true, id:'demo'}"
       lay-filter="post">
    <thead>
    <tr>
        <th lay-data="{field:'pid', sort: true, fixed: true}">PID</th>
        <th lay-data="{field:'nickname',templet: '#nicknameTpl'}">发表者</th>
        <th lay-data="{field:'title',templet: '#titleTpl'}">标题</th>
        <th lay-data="{width:60,field:'type',templet: '#typeTpl'}">类型</th>
        <th lay-data="{ width:100,field:'grade',templet: '#gradeTpl'}">等级</th>
        <th lay-data="{field:'postTime',templet: '#postTpl'}">发表时间</th>
        <th lay-data="{width:120,field:'replyNum'}">回复数</th>
        <th lay-data="{field:'lastReplyTime',templet: '#replyTpl'}">上次回复时间</th>
        <th lay-data="{width:120,field:'views'}">浏览量</th>
        <th lay-data="{width:120,field:'collectionNum'}">收藏量</th>
        <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}"></th>
    </tr>
    </thead>
</table>

<script id="barDemo" type="text/html">
    <a class="layui-btn layui-btn-xs" data-method="setTop" lay-event="edit">编辑</a>
</script>


<script charset="utf-8" src="/res/layui/layui.js"></script>
<script src="/res/js/jquery-3.3.1.min.js"></script>
<script>
    var layer;
    layui.use(['element', 'layer'], function () {
        layer = layui.layer;
    });
    var table;
    layui.use('table', function () {
        table = layui.table;
        //监听工具条
        table.on('tool(post)', function (obj) {
            var data = obj.data;
            window.open("/admin/editPost/" + data.pid);
        });
    });

    function reload() {
        var param;
        if ($('#type').val() == 2) {
            //默认搜索标题

            param = {'search': $('#search').val(), 'type': '2'};
        } else {
            param = {'search': $('#search').val(), 'type': '1'};
        }
        table.reload('demo', {
            url: '/admin/postTable'
            , where: param
            , method: 'get'
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

</script>
<script id="titleTpl" type="text/html">
    <a href="/post/{{d.pid}}" target="_blank" class="layui-table-link">{{d.title}}</a>
</script>
<script id="nicknameTpl" type="text/html">
    <a href="/user/home/{{d.uid}}" target="_blank" class="layui-table-link">{{d.nickname}}</a>
</script>
<script id="typeTpl" type="text/html">
    {{#  if(d.type == 0){ }}
    动态
    {{#  } else { }}
    {{#  if(d.type == 1){ }}
    提问
    {{#  } else { }}
    {{#  if(d.type == 2){ }}
    分享
    {{#  } else { }}
    {{#  if(d.type == 3){ }}
    讨论
    {{#  } else { }}
    {{#  if(d.type == 4){ }}
    公告
    {{#  } }}
    {{#  } }}
    {{#  } }}
    {{#  } }}
    {{#  } }}
</script>
<script id="gradeTpl" type="text/html">
    {{#  if(d.grade == 0){ }}
    普通
    {{#  } else { }}
    {{#  if(d.grade == 1){ }}
    加精
    {{#  } else { }}
    {{#  if(d.grade == 2){ }}
    置顶
    {{#  } else { }}
    置顶/加精
    {{#  } }}
    {{#  } }}
    {{#  } }}
</script>
<script id="postTpl" type="text/html">
    {{#
    var fn = function(){
    var time =d.postTime;
    var newDate = new Date();
    newDate.setTime(time);
    return newDate.toLocaleString()
    }}}

    {{ fn() }}
</script>
<script id="replyTpl" type="text/html">
    {{#
    var fn = function(){
    var time =d.lastReplyTime;
    var newDate = new Date();
    newDate.setTime(time);
    return newDate.toLocaleString()
    }}}

    {{ fn() }}
</script>
</body>
</html>