<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>帖子详情</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/res/layui/css/layui.css" rel="stylesheet">
    <link href="/res/css/global.css" rel="stylesheet">
</head>
<body>
<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img alt="layui" src="/res/images/logo.png">
        </a>
        <ul class="layui-nav fly-nav-user">
            <shiro:guest>
                <!-- 未登入的状态 -->
                <li class="layui-nav-item">
                    <a class="iconfont icon-touxiang layui-hide-xs"
                       th:href="${'/user/login/'+post.pid}"></a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="${'/user/login/'+post.pid}">登入</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="${'/user/reg/'+post.pid}">注册</a>
                </li>
            </shiro:guest>
            <shiro:authenticated>
                <li class="layui-nav-item">
                    <a class="fly-nav-avatar" href="javascript:;">
                        <cite class="layui-hide-xs"
                              th:each="cookie :${#httpServletRequest.getCookies()}"
                              th:if="${cookie.getName().equals('nickname')}"
                              th:text="${cookie.getValue()}"/>
                        <img th:each="cookie :${#httpServletRequest.getCookies()}"
                             th:if="${cookie.getName().equals('img')}"
                             th:src="${cookie.getValue()}">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/info/setting"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                        <dd><a href="/info/history"><i class="iconfont icon-shichang"
                                                       style="top: 4px;"></i>浏览历史
                            <span class="layui-badge-dot" style="float:right"
                                  th:if="${hasMessage==true}"></span></a></dd>
                        <dd><a href="/info/message"><i class="iconfont icon-tongzhi"
                                                       style="top: 4px;"></i>我的消息
                            <span class="layui-badge-dot" style="float:right"
                                  th:if="${hasMessage==true}"></span></a></dd>
                        <dd><a href="/user/home"><i class="layui-icon"
                                                    style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                        </dd>
                        <hr style="margin: 5px 0;">
                        <dd><a href="/user/logout" style="text-align: center;">退出</a></dd>
                    </dl>
                </li>
            </shiro:authenticated>
        </ul>
        <input id="loginAlready" th:data-login="${user!=null}" type="hidden">
    </div>
</div>

<div class="layui-hide-xs">
    <div class="fly-panel fly-column">
        <div class="layui-container">
            <shiro:authenticated>
                <ul class="layui-clear">
                    <!-- 用户登入后显示 -->
                    <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a
                            href="/info/myPost">我发表的贴</a></li>
                    <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a
                            href="/info/myCollection">我收藏的贴</a></li>

                </ul>

                <div class="fly-column-right layui-hide-xs">
                    <span class="fly-search"><i class="layui-icon"></i></span>
                    <shiro:authenticated>
                        <a class="layui-btn layui-btn-radius" href="/post/newPost">发表新帖</a>
                    </shiro:authenticated>
                </div>
            </shiro:authenticated>
        </div>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1 th:text="${post.title}"></h1>
                <div class="fly-detail-info">
                    <!-- <span class="layui-badge">审核中</span> -->
                    <th:block th:switch="${post.type}">
                        <span class="layui-badge layui-bg-green fly-detail-column"
                              th:case="1">提问
                        </span>
                        <span class="layui-badge layui-bg-green fly-detail-column"
                              th:case="2">分享
                        </span>
                        <span class="layui-badge layui-bg-green fly-detail-column"
                              th:case="3">讨论
                        </span>
                        <span class="layui-badge layui-bg-green fly-detail-column"
                              th:case="4">公告
                        </span>
                        <span class="layui-badge layui-bg-green fly-detail-column"
                              th:case="0">动态
                        </span>
                    </th:block>
                    <span class="layui-badge layui-bg-black" th:if="${post.grade>1}">置顶</span>
                    <span class="layui-badge layui-bg-red"
                          th:if="${post.grade==1 || post.grade==3}">精帖</span>
                    <span class="fly-list-nums">
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;
            </i><th:block th:text="${post.replyNum}"/>
            </a>
            <i class="iconfont" title="人气">&#xe60b;</i> <th:block
                            th:text="${post.views}"/>
          </span>
                </div>
                <div class="detail-about">
                    <a class="fly-avatar" th:href="${'/user/home/'+uid}">
                        <img th:src="${post.img}">
                    </a>
                    <div class="fly-detail-user">
                        <a class="fly-link" th:href="${'/user/home/'+uid}">
                            <cite th:text="${post.nickname}"></cite>
                        </a>
                        <span
                                th:text="${#dates.format(post.postTime,'yyyy-MM-dd hh:mm:ss')}"></span>
                    </div>
                    <div class="detail-hits" data-id="123" id="LAY_jieAdmin">
                        <span style="padding-right: 10px; color: #FF7200"
                              th:text="${'热度：'+(hotPoint==null?0:hotPoint)}"></span>
                    </div>
                </div>
                <div class="detail-body photos" th:utext="${topReply.content_show}">
                </div>
                <!--收藏-->
                <shiro:authenticated>
                    <div id="collect" style="text-align: center" th:if="${myself==false}">
                        <button class="layui-btn layui-btn-primary layui-btn-sm"
                                th:if="${collect!=true}" th:onclick="|collect(${post.pid})|"><i
                                class="layui-icon"></i></button>
                        <button class="layui-btn layui-btn-normal layui-btn-sm"
                                th:if="${collect==true}" th:onclick="|collect(${post.pid})|"><i
                                class="layui-icon"></i></button>
                    </div>
                </shiro:authenticated>
            </div>
            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <ul class="jieda" id="jieda">
                    <li th:each="reply:${replys}" th:id="${'replyID'+reply.id}">
                        <div class="detail-about detail-about-reply">
                            <a class="fly-avatar" th:href="${'/user/home/'+reply.replyer}">
                                <img th:src="${reply.img}">
                            </a>
                            <div class="fly-detail-user">
                                <a class="fly-link" th:href="${'/user/home/'+reply.replyer}">
                                    <cite th:text="${reply.nickname}"></cite>
                                </a>
                                <span th:if="${reply.replyer==post.uid}">(楼主)</span>
                            </div>
                            <div class="detail-hits">
                                <span
                                        th:text="${#dates.format(reply.replyTime,'yyyy-MM-dd hh:mm:ss')}"></span>
                            </div>
                        </div>
                        <div class="detail-body jieda-body photos">
                            <th:block th:if="${reply.contentEx!=null}">
                                <div class="layui-collapse" lay-filter="test">
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title"> 引用：<a target="_blank"
                                                                             th:href="${'/user/home/'+reply.replyToId}"
                                                                             th:text="${reply.replyToNickname}"/>的回复
                                        </h2>
                                        <div class="layui-colla-content"
                                             th:utext="${reply.contentEx}">
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            <div class="content" th:utext="${reply.content_show}"></div>
                        </div>
                        <div class="jieda-reply">
                            <span class="jieda-zan"
                                  th:classappend="${reply.zan==true}?'zanok':'zan'"
                                  th:data-floor="${reply.floor}"
                                  th:data-pid="${post.pid}"
                                  th:data-uid="${reply.replyer}"
                                  th:onclick="|dianzan(${replyStat.index})|"
                                  type="zan">
                <i class="iconfont icon-zan"></i>
                                <!--点赞-->
                <em th:text="${reply.likesNum}"></em>
              </span>
                            <shiro:user>
                            <span class="source"
                                  th:data-nickname="${reply.nickname}"
                                  th:data-replyer="${reply.replyer}"
                                  th:onclick="|yinyong(${reply.floor})|"
                                  type="reply">

                <i class="iconfont icon-svgmoban53 "
                ></i>
                回复
              </span>
                            </shiro:user>
                            <div class="jieda-admin">
                                <shiro:lacksRole name="admin">
                                    <!--显示删除按钮的条件：管理员，贴主，层主,后台照样也得认证 还得楼层判断是否是0（顶楼）-->
                                    <a href=""
                                       th:data-floor="${reply.floor}"
                                       th:data-pid="${reply.postid}"
                                       th:onclick="|delReply(${replyStat.index})|"
                                       th:if="${user!=null &&(user.uid==reply.replyer || user.uid==post.uid)}"
                                       type="del">删除
                                    </a>
                                </shiro:lacksRole>
                                <shiro:hasRole name="admin">
                                    <a href=""
                                       th:data-floor="${reply.floor}"
                                       th:data-pid="${reply.postid}"
                                       th:onclick="|delReply(${replyStat.index})|"
                                       type="del">删除
                                    </a>
                                </shiro:hasRole>
                            </div>
                        </div>
                    </li>
                    <li class="fly-none" th:if="${replys==null ||replys.size()==0}">消灭零回复</li>
                </ul>
                <!--页码-->
                <div style="text-align: center" th:if="${replys!=null && replys.size()>0}">
                    <div class="laypage-main">
                        <th:block th:with="current=${page}">
                            <th:block th:if="${page>1}">
                                <a class="laypage-last"
                                   th:href="'/post/'+${post.pid}+'/'+'1'"
                                   title="首页">首页</a>
                                <a class="laypage-next"
                                   th:href="'/post/'+${post.pid}+'/'+${page -1}">上一页
                                </a>
                            </th:block>
                            <th:block
                                    th:each="index:${#numbers.sequence((page>2?page -2:(page>1?page -1:page)),
                                (pageNum -current>2?current +2:pageNum))}">
                                <span class="laypage-curr" th:if="${index==current}"
                                      th:text="${index}"></span>
                                <a
                                        th:href="'/post/'+${post.pid}+'/'+${index}"
                                        th:if="${index!=page}"
                                        th:text="${index}"></a>
                            </th:block>
                            <th:block th:if="${page!=pageNum}">
                                <a class="laypage-last"
                                   th:href="'/post/'+${post.pid}+'/'+${pageNum}"
                                   title="尾页">尾页</a>
                                <a class="laypage-next"
                                   th:href="'/post/'+${post.pid}+'/'+${page+1}">下一页
                                </a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <shiro:user>
                    <fieldset class="layui-elem-field layui-field-title"
                              style="text-align: center;">
                        <legend>新增回复</legend>
                    </fieldset>

                    <!--新增回复-->
                    <div class="layui-form layui-form-pane">
                        <form action="/reply/addReply" id="addReply" method="post">
                            <div id="yinyong" style="display: none;">
                                <div class="layui-collapse">
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title"> 引用：<a id="yinyonglink"
                                                                             style="color: #4f99cf"
                                                                             target="_blank">123</a>的回复
                                        </h2>
                                        <div class="layui-colla-content" id="yinyongcontent">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input id="replyTo" name="replyTo" type="hidden"/>
                            <input id="postid" name="postid" th:value="${post.pid}" type="hidden">
                            <input id="content" name="content" type="hidden"/>
                            <input id="content_show" name="content_show" type="hidden"/>
                            <br>
                            <div id="editor" style="height: 340px">

                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn"
                                        lay-filter="*" onclick="submitReply()" type="button">提交回复
                                </button>
                            </div>
                        </form>
                    </div>
                </shiro:user>
            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本日热议</dt>
                <dd th:each="hotPost:${hotPosts}">
                    <a th:href="${'/post/'+hotPost.pid}" th:text="${hotPost.title}"></a>
                    <span style="float: right;">
                        <i class="iconfont icon-renshu"
                           th:text="${hotPost.hotPoint}"></i>
                    </span>
                </dd>
                <div class="fly-none" th:if="${hotPosts==null ||hotPosts.size()==0}">没有相关数据</div>
            </dl>
        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2019 &copy; <a
            href="http://www.layui.com/" target="_blank">Thorn 出品</a></p>
</div>

<script src="/res/layui/layui.js"></script>
<!--编辑框-->
<script src="/res/js/wangEditor.min.js" type="text/javascript"></script>
<script src="/res/js/jquery-3.3.1.min.js"></script>
<script src="/res/js/my.js" th:inline="javascript"></script>
<!--消息框-->
<script src="/res/js/notification/modernizr.custom.js"></script>
<script src="/res/js/notification/classie.js"></script>
<script src="/res/js/notification/notificationFx.js"></script>
<script>
    layui.config({
        version: "3.0.0"
        , base: '/res/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
    if ("[[${replyID}]]" != 0) {
        window.location.hash = "replyID" + "[[${replyID}]]";
    }
    var editor = createEditor();
</script>
</body>
</html>