<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户中心</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/res/layui/css/layui.css" rel="stylesheet">
    <link href="/res/css/global.css" rel="stylesheet">
</head>
<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img alt="layui" src="/res/images/logo.png" style="width: 141px;height: 31px">
        </a>
        <ul class="layui-nav fly-nav-user">
            <!-- 登入后的状态 -->
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:">
                    <cite class="layui-hide-xs" id="nickname"
                          th:each="cookie :${#httpServletRequest.getCookies()}"
                          th:if="${cookie.getName().equals('nickname')}"
                          th:text="${cookie.getValue()}"/>

                    <img th:each="cookie :${#httpServletRequest.getCookies()}"
                         th:if="${cookie.getName().equals('img')}"
                         th:src="${cookie.getValue()}">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/info/setting"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                    <dd><a href="/info/history"><i class="iconfont icon-shichang"
                                                   style="top: 4px;"></i>浏览历史
                        <span class="layui-badge-dot" style="float:right"
                              th:if="${hasMessage==true}"></span></a></dd>
                    <dd><a href="/info/message" id="message"><i class="iconfont icon-tongzhi"
                                                                style="top: 4px;"></i>我的消息</a></dd>
                    <dd><a href="/user/home"><i class="layui-icon"
                                                style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                    </dd>
                    <hr style="margin: 5px 0;">
                    <dd><a href="/user/logout" style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a href="/user/home">
                <i class="layui-icon">&#xe609;</i>
                我的主页
            </a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="/info/myPost">
                <i class="layui-icon">&#xe612;</i>
                用户中心
            </a>
        </li>
        <li class="layui-nav-item ">
            <a href="/info/setting">
                <i class="layui-icon">&#xe620;</i>
                基本设置
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/info/message">
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/info/history">
                <i class="layui-icon">&#xe610;</i>
                浏览记录
            </a>
        </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>

        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" data-type="mine-jie" lay-id="index">我发的帖（<span
                        th:text="${mypostsNum==null?0:mypostsNum}"></span>）
                </li>
                <li data-type="collection" lay-id="collection">
                    我收藏的帖（<span th:text="${collectionsNum==null?0:collectionsNum}"></span>）
                </li>
                <li data-type="attetion" lay-id="attetion">
                    我关注的人（<span th:text="${attentionsNum==null?0:attentionsNum}"></span>）
                </li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="fly-none" th:if="${myposts==null||myposts.size()==0}">没有相关数据
                    </div>
                    <ul class="mine-view jie-row" th:each="mypost:${myposts}">
                        <li>
                            <a class="jie-title" target="_blank" th:href="'/post/'+${mypost.pid}"
                               th:text="${mypost.title}"/>
                            <i th:text="${#dates.format(mypost.postTime,'yyyy-MM-dd hh:mm:ss')}"/>
                            <div style="float: right">
                                <span
                                        th:text="${mypost.views}+'阅/'+${mypost.replyNum}+'答'">

                                </span>
                                <button
                                        class="layui-btn layui-btn-danger layui-btn-xs"
                                        th:onclick="|delPost(${mypost.pid})|">
                                    删除
                                </button>
                            </div>

                        </li>
                    </ul>
                    <br/>

                    <div style="text-align:center" th:if="${myposts!=null}">
                        <a class="layui-btn layui-btn-primary layui-btn-sm"
                           th:href="${'/info/myPost/'+(currentPage -1)+'/'+currentCpage+'/'+currentApage}"
                           th:if="${currentPage>1}">
                            <i class="layui-icon"></i></a>
                        <a class="layui-btn layui-btn-primary layui-btn-sm"
                           th:href="${'/info/myPost/'+(currentPage+1)+'/'+currentCpage+'/'+currentApage}"
                           th:if="${(mypostsNum%10!=0 && currentPage<mypostsNum/10+1) || (mypostsNum%10==0 && currentPage<mypostsNum/10)}">
                            <i class="layui-icon"></i>
                        </a>
                    </div>

                </div>
                <div class="layui-tab-item">
                    <div class="fly-none" th:if="${collections==null||collections.size()==0}">没有相关数据
                    </div>
                    <ul class="mine-view jie-row" th:each="collect:${collections}">
                        <li>
                            <a class="jie-title" target="_blank" th:href="'/post/'+${collect.pid}"
                               th:text="${collect.title}"/>
                            <i
                                    th:text="'收藏于'+${#dates.format(collect.time,'yyyy-MM-dd hh:mm:ss')}"></i>
                        </li>
                    </ul>
                    <br/>
                    <div style="text-align:center" th:if="${collections!=null}">
                        <a class="layui-btn layui-btn-primary layui-btn-sm"
                           th:href="${'/info/myCollection/'+currentPage+'/'+(currentCpage -1)+'/'+currentApage}"
                           th:if="${currentCpage>1}">
                            <i class="layui-icon"></i></a>
                        <a class="layui-btn layui-btn-primary layui-btn-sm"
                           th:href="${'/info/myCollection/'+currentPage+'/'+(currentCpage+1)+'/'+currentApage}"
                           th:if="${(collectionsNum%10!=0 && currentCpage<collectionsNum/10+1) || (collectionsNum%10==0 && currentCpage<collectionsNum/10)}">
                            <i class="layui-icon"></i></a>
                    </div>
                    <div id="LAY_page1"></div>
                </div>
                <div class="layui-tab-item">
                    <div class="fly-none" th:if="${attentions==null||attentions.size()==0}">没有相关数据
                    </div>
                    <ul class="mine-view jie-row" th:each="attention:${attentions}">
                        <li>
                            <a class="jie-title" target="_blank"
                               th:href="'/user/home/'+${attention.toUser}"
                               th:text="${attention.toUserNickname}"/>
                            <i
                                    th:text="'关注于'+${#dates.format(attention.createTime,'yyyy-MM-dd hh:mm:ss')}"></i>
                        </li>
                    </ul>
                    <br/>
                    <div style="text-align:center" th:if="${attentions!=null}">
                        <a class="layui-btn layui-btn-primary layui-btn-sm"
                           th:href="${'/info/myAttention/'+currentPage+'/'+currentCpage+'/'+(currentApage -1)}"
                           th:if="${currentApage>1}">
                            <i class="layui-icon"></i></a>
                        <a class="layui-btn layui-btn-primary layui-btn-sm"
                           th:href="${'/info/myAttention/'+currentPage+'/'+currentCpage+'/'+(currentApage+1)}"
                           th:if="${(attentionsNum%10!=0 && currentApage<attentionsNum/10+1) || (attentionsNum%10==0 && currentApage<attentionsNum/10)}">
                            <i class="layui-icon"></i></a>
                    </div>
                    <div id="LAY_page1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/res/layui/layui.js"></script>
<script>
    layui.cache.page = 'user';
    layui.cache.user = {
        username: '游客'
        , uid: -1
        , avatar: '/res/images/avatar/00.jpg'
        , experience: 83
        , sex: '男'
    };
    layui.config({
        version: "3.0.0"
        , base: '/res/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
</script>
<script src="/res/js/jquery-3.3.1.min.js"></script>
<script src="/res/js/message.js"></script>
<script src="/res/js/my.js"></script>
<script>
    if ("[[${loc}]]" == '#collection') {
        $(".layui-tab-title li:eq(0)").removeClass("layui-this");
        $(".layui-tab-title li:eq(1)").addClass("layui-this");
        $('.layui-tab-item:eq(0)').removeClass("layui-show");
        $('.layui-tab-item:eq(1)').addClass("layui-show");
    } else if ("[[${loc}]]" == '#attention') {
        $(".layui-tab-title li:eq(0)").removeClass("layui-this");
        $(".layui-tab-title li:eq(2)").addClass("layui-this");
        $('.layui-tab-item:eq(0)').removeClass("layui-show");
        $('.layui-tab-item:eq(2)').addClass("layui-show");
    }
</script>

</body>
</html>