<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>帐号设置</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/res/layui/css/layui.css" rel="stylesheet">
    <link href="/res/css/global.css" rel="stylesheet">
    <link href="/res/css/my.css" rel="stylesheet">
</head>
<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img alt="layui" src="/res/images/logo.png" style="width: 141px;height: 31px">
        </a>
        <ul class="layui-nav fly-nav-user">
            <!-- 登入后的状态 -->
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:">
                    <cite class="layui-hide-xs" id="nickname"
                          th:each="cookie :${#httpServletRequest.getCookies()}"
                          th:if="${cookie.getName().equals('nickname')}"
                          th:text="${cookie.getValue()}"/>
                    <img id="avator"
                         th:each="cookie :${#httpServletRequest.getCookies()}"
                         th:if="${cookie.getName().equals('img')}" th:src="${cookie.getValue()} ">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/info/setting"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                    <dd><a href="/info/history"><i class="iconfont icon-shichang"
                                                   style="top: 4px;"></i>浏览历史
                        <span class="layui-badge-dot" style="float:right"
                              th:if="${hasMessage==true}"></span></a></dd>
                    <dd><a href="/info/message" id="message"><i class="iconfont icon-tongzhi"
                                                                style="top: 4px;"></i>我的消息</a></dd>
                    <dd><a href="/user/home"><i class="layui-icon"
                                                style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                    </dd>
                    <hr style="margin: 5px 0;">
                    <dd><a href="/user/logout" style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a href="/user/home">
                <i class="layui-icon">&#xe609;</i>
                我的主页
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/info/myPost">
                <i class="layui-icon">&#xe612;</i>
                用户中心
            </a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="/info/setting">
                <i class="layui-icon">&#xe620;</i>
                基本设置
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/info/message">
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/info/history">
                <i class="layui-icon">&#xe610;</i>
                浏览记录
            </a>
        </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li lay-id="info" th:classappend="${loc!='password'}?'layui-this':''">我的资料</li>
                <li lay-id="avatar">头像</li>
                <li lay-id="pass" th:classappend="${loc=='password'}?'layui-this':''">密码</li>
            </ul>
            <div class="layui-tab-content" id="formItem" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item"
                     th:classappend="${loc!='password'}?'layui-show':''">
                    <form action="/info/basic" th:method="patch">
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="L_email">邮箱</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="L_email"
                                       lay-verify="email" name="email" readonly required
                                       th:value="${email}" type="text">
                            </div>
                            <!--  <div class="layui-form-mid layui-word-aux">如果您在邮箱已激活的情况下，变更了邮箱，需<a
                                      href="activate.html" style="font-size: 12px; color: #4f99cf;">重新验证邮箱</a>。
                              </div>-->
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="L_username">昵称</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="L_username"
                                       lay-verify="required" name="nickname" required
                                       th:value="${nickname}"
                                       type="text">
                            </div>
                            <span class="layui-form-mid layui-word-aux tip"
                                  th:text="${nnError}"/>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="L_username">性别</label>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input name="gender" th:checked="${gender eq '男'}"
                                           title="男" type="radio" value="男">
                                    <input name="gender" th:checked="${gender eq '女'}" title="女"
                                           type="radio" value="女">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="L_city">年龄</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="L_city"
                                       name="age" th:value="${age}" type="text">
                            </div>
                            <span class="layui-form-mid layui-word-aux tip"
                                  th:text="${ageError}"/>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>
                                确认修改
                            </button>
                        </div>
                    </form>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-form-item">
                        <form id="avatorForm" method="patch">
                            <div class="avatar-add">
                                <input id="file" name="file" onchange="upload()"
                                       style="filter:alpha(opacity=0);opacity:0;width: 0;height: 0;"
                                       type="file"/>
                                <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>
                                <button class="layui-btn upload-img" onclick="selectFile()"
                                        type="button">
                                    <i class="layui-icon">&#xe67c;</i>上传头像
                                </button>
                                <img id="img" th:src="${img}">
                                <span class="loading"></span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item"
                     th:classappend="${loc=='password'}?'layui-show':''">
                    <form action="/info/password" th:method="patch">
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="L_nowpass">当前密码</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="L_nowpass"
                                       lay-verify="required" name="nowpass" required
                                       type="password">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="L_pass">新密码</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="L_pass"
                                       lay-verify="required" name="password" required
                                       type="password">
                            </div>
                            <div class="layui-form-mid layui-word-aux">3到18个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="L_repass">确认密码</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="L_repass"
                                       lay-verify="required" name="repass" required type="password">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>
                                确认修改
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="/res/layui/layui.js"></script>
<script src="/res/js/jquery-3.3.1.min.js"></script>
<script src="/res/js/message.js"></script>
<script src="/res/js/my.js"></script>
<script>
    layui.config({
        version: "2.0.0"
        , base: '/res/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
</script>
<script>
    layui.use(['element', 'layer'], function () {
        var layer = layui.layer;
        if ("[[${errorMsg}]]" != "") {
            layer.msg("[[${errorMsg}]]");
        }
    });
</script>

</body>
</html>